*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins';
    /* overflow-x: hidden; */
}

body{
    overflow-x: hidden;
}
@keyframes transition_load {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  body{
    animation: transition_load 1s;
  }

#icon-img{
    height:80px;
    cursor: pointer;
}

.small-device-menu{
    display: none;
}

.menu-top {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(235, 226, 226);
    background-color: rgb(255, 255, 255);

}

#icon-img {
    height: 80px;
    cursor: pointer;
}

.icon-imgg {
    cursor: pointer;
    height: 30px;
    z-index: 5;
}

.menu-content {
    width: 100vw;
    border-right: 1px solid;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 80.5px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-1000%);
}
.menu-content.active{
    transform: translateY(0px);
}
.menu-items {
    margin-top: 30px;
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    list-style: none;
}
.menu-icon-box{
    display: flex;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;
}
.menu-line{
    background-color: black;
    width: 35px;
    height: 4px;
    border-radius: 11000px;
    pointer-events: none;
}
.menu-items{
    transform: translateY(-100%) translateX(-100%);
    transition: all 0.25s ease-in-out;
}
.menu-items a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.menu-items a:hover {
    border-bottom: 1px solid grey;
    color: grey;
}
.menu-items.active{
    transform: translateY(0px) translateX(0px);
}
.menu-line2{
    transition: all 0.1s ease-in-out;
}
.menu-line1{
    transition: all 0.25s ease-in-out;
}
.menu-line3{
    transition: all 0.25s ease-in-out;
}
.menu-close1{
    transform: rotate(45deg) translateX(5px);
}
.menu-close3{
    transform: rotate(-45deg) translateX(5px);
}
.menu-close2{
    transform: translateX(100px);
    opacity:0;
}
.menu-icon-box.active{
    gap: 0px;
}

.top-nav {
    justify-content: center;
    width: 100vw;
    position: sticky;
    top: 0px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid rgb(235, 226, 226);
    z-index: 100;
}

.top-nav-box {
    width: 90%;
    overflow-x: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.top-nav-box1 {
    display: flex;
    align-items: center;
    gap: 25px;
}

.search-box {
    width: 100%;
    position: relative;
}

.search {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    padding-left: 40px;
    border: none;
    outline: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 30vw;
    height: 45px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 6px;
}

.search-icon {
    position: absolute;
    left: 9px;
}

.icon-svg {
    height: 20px;
}

.location-search-input {
    border-right: 1px solid black;
}

.nav-right-menu {
    display: flex;
    gap: 30px;
}

.btn-box {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.btn-box:hover {
    cursor: pointer;
    color: red;
}

.btn-box:hover img {
    filter: invert(25%) sepia(1000%) saturate(11000%) hue-rotate(0deg) brightness(80%) contrast(97%);
}

.border-right {
    padding-right: 20px;
    border-right: 1px solid grey;
}

.video{
    display:flex;
    width:100%;
    justify-content: center;
    align-content:center;
}
.divv2{
    display:flex;
      align-items: center;
      justify-content: center;
      padding-top:5%;
      padding-bottom: 5%;
      background-image:linear-gradient(to bottom,rgb(249, 183, 61,0.7),rgb(249, 183, 61,0.60),rgb(249, 183, 61,0.53),rgb(249, 183, 61,0.45) );
}
.div2{
    width:70%;
    display:grid;
    grid-template-columns:1fr 1fr;
}
.div2 .left{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:10px;
    grid-auto-rows: minmax(270px,auto);
    grid-auto-columns: auto;
}
.card1{
    grid-column: 1/2;
    grid-row:1/2;
}
.card2{
    grid-column: 2/3;
    grid-row:1/2;
}
.card3{
    grid-column: 1/2;
    grid-row:2/3;
}
.card4{
    grid-column: 2/3;
    grid-row:2/3;
}
.div2 .left .card{
       height:250px;
       background-color: white;
       border-radius: 8px;
        padding:20px;
        margin:5px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div2 .left .card .heading i{
    background-color: rgba(248, 181, 58, 0.5);
    padding:5px;
    border-radius: 100px;
    color:rgb(241, 161, 13);
    font-size:35px;
}
.div2 .left .card{
    transition: all 0.1s;
}
.div2 .left .card:hover{
   box-shadow:3px 3px 3px 4px rgba(0,0,0,0.2);
   transform:scale(1.03);
}
.div2 .left .card .heading h2{
    font-size: 35px;
    padding:5px 0px;
}
.div2 .left .card .text{
    font-size: 15px;
}
.div2 .right{
   
    padding: 30px;
    padding-left:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.div2 .right h1{
    font-size:60px;
    color:#FFA700;
    margin:0px;
}
.div2 .right h2{
    font-size:35px;
    padding:10px 0px;
}
.div2 .right p{
    font-size:20px;
}
#star{
    background-color:white;
    color: yellow;
    font-size: 25px;
    margin:0px;
    padding:0px;
}
.div3{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    grid-auto-rows:minmax(280px,auto);
    gap: 1.25rem;
    overflow-y: none;
    padding:1.5rem;
}
.images{
     border-radius: 4px;
     transition: all 0.3s;
     overflow-y: hidden;
}
.images:hover{
    transform: scale(1.04);
}
.divv3 {
    font-size:30px;
    margin:auto;
    text-align: center;
    padding:10px;
    color:rgb(4, 4, 44);
}
@media (min-width:769px)
{
    .video{
        height:70vh;
    }
}
.video video{
    width:90% !important;
    height:100%;
    object-fit: cover;
}
.divv4{
    display:flex;
    background-image:linear-gradient(to bottom,rgb(249, 183, 61,0.7),rgb(249, 183, 61,0.60),rgb(249, 183, 61,0.53),rgb(249, 183, 61,0.45) );
}
.divv4 .text{
    width:35%;
    padding:20px;
}
.divv4 .text .font{
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.divv4 .boxes{
    width: 65%;
    gap:40px;
    padding:20px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,auto));
    grid-template-rows:1fr 1fr 1fr;
}
.divv4 .box{
    background-color: white;
    overflow: hidden;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}
.divv4 .box:hover{
    transform: scale(1.04);
}
.divv4 .boxes .box1{
    grid-row:1/3;
    grid-column:1/2;
}
.divv4 .boxes .box3{
    grid-row:1/3;
    grid-column:3/4;
}
.divv4 .boxes .box2{
    grid-row:2/4;
    grid-column:2/3;
}
.divv4 h1{
font-size:40px;
}
.divv4 h1 span{
    color:#FFA700
}
.divv4 .box{
    padding: 10px;
     height:350px;
     font-size:20px;
     border-radius: 4px;
     box-shadow:4px 4px 4px 4px rgba(0,0,0,0.2);
}
.divv4 .box img{
    object-fit:cover;
    object-position:top;
}
.divv4 .box .des{
    padding:10px;
    
}
.divv5{
    min-height: 600px;
    background: url('../image/comma.svg') no-repeat top center,url('../image/dot-pattern.svg') no-repeat bottom right;
    background-size:200px 200px,200px 200px;
    display: flex;
    
}
.divv5 .sub1{
   padding:10px;
 
   display: flex;
   justify-items: center;
   
}
.divv5 .sub1 .sub{
    width:80%;
    margin:auto;
    height: 80%;
    
}
.divv5 .sub1 h1{
    padding:10px;
    font-size:43px;
}
.divv5 .sub1 h1 span{
    color: #FFA700;
}
.divv5 .sub1 p{
    padding:10px;
    font-size: 20px;
    letter-spacing: 1px;   
}
.divv5 .sub2 img{
    /* width: 100%; */
    border-radius: 5px;
    margin: 10px;
    box-shadow:  0 8px 24px #959da5;
    object-fit: cover;
}
.divv5 .sub2 .subb21,.divv5 .sub2 .subb22{
    display: flex;
    align-items: last baseline;
    justify-items: center;
    justify-content: center;
}
.temp{
    min-height: 40px;
}

.footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #1c1c1c;
    width: 100vw;
}

.footer1 {
    margin-bottom: 50px;
    margin-top: 40px;
}

.footer1-grid {
    display: grid;
    margin: auto;
    width: 100%;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
}

.social-media {
    display: flex;
    gap: 20px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-list h4 {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

.follow-box {
    align-items: flex-end;
    gap: 10px;
}

.footer-list p a {
    color: rgb(109, 118, 125);
    text-decoration: none;
    font-size: 14px;
}

.footer-list p a:hover {
    color: white;
    text-decoration: underline;
}

.footer2 {
    padding: 15px;
    display: flex;
    width: 100vw;
    border-top: 0.5px solid rgb(41, 41, 41);
    justify-content: center;
}

#copyright-txt {
    font-size: 14px;
    color: rgb(187, 192, 196);
    margin-right: 30px;
}

.icon-img {
    cursor: pointer;
    height: 24px;
}

@media (max-width:769px)
{
    .video{
        height:70vh;
    }
    .video video{
        width:90%;
    }
    .divv5{
        flex-direction: column;
    }
}
@media (min-width:770px)
{    .divv5 .sub1{
    width:50%;
}
}


@media screen and (max-width:600px){
    .footer1-grid{
        grid-template-columns: 150px 100px 100px;
    }
}
@media screen and (max-width:800px){
    .top-nav-box{
        display: none;
    }
    .small-device-menu{
        display: block;
    }
    .footer1-grid{
        grid-template-columns: 150px 100px 100px;
    }
}
@media screen and (max-width:450px) {
    ::-webkit-scrollbar {
        height: 0px;
    }

    .footer1-grid{
        grid-template-columns: 150px 150px;
        row-gap: 50px;
    }
    .follow-box{
        align-items: flex-start;
    }
} 
@media screen and (max-width:350px){
    .footer1-grid{
        grid-template-columns: 150px;
    }
}




@media screen and (max-width: 1200px) {
    .div2 {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }

    .div2 .left {
        /* grid-template-columns: 1fr; */
        grid-template-rows: auto;
        gap: 10px;
    }

    .div2 .right {
        padding: 20px;
        padding-left: 40px;
        text-align: center;
    }
    .divv4 .boxes .box1{
        grid-row:auto;
        grid-column: auto;
    }
    .divv4 .boxes .box3{
        grid-row:auto;
        grid-column:auto;
    }
    .divv4 .boxes .box2{
        grid-row:auto;
        grid-column:auto;
    }
}

@media screen and (max-width: 768px) {
    .div2 {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }

    .div2 .left {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }

    .div2 .left .card {
        grid-column: 1/2;
        grid-row: unset;
    }

    .div2 .right {
        padding: 20px;
        padding-left: 40px;
        text-align: center;
    }

    .div2 .left .card .heading i {
        font-size: 30px;
    }

    .div2 .left .card .heading h2 {
        font-size: 30px;
    }

    .div2 .left .card .text {
        font-size: 20px;
    }
    .divv4{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divv4 .font{
        width: 100vw;
    }
    .divv4 .text{
        width: 90%;
    }
    .divv4 .boxes{
        width: 80%;
    }
    .divv4 .box{
        width: 100%;
        height: auto;
    }
    .box img{
        height: 200px;
    }

}

@media screen and (max-width: 600px) {
    .div2 {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }

    .div2 .left {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }

    .div2 .left .card {
        grid-column: 1/2;
        grid-row: unset;
    }

    .div2 .right {
        padding: 20px;
        padding-left: 40px;
        text-align: center;
    }

    .div2 .left .card .heading i {
        font-size: 25px;
    }

    .div2 .left .card .heading h2 {
        font-size: 25px;
    }

    .div2 .left .card .text {
        font-size: 12px;
    }
    
}





